/* Stile generale del footer */
footer {
  background-color: #333; /* Colore di sfondo del footer */
  color: white; /* Colore del testo del footer */
  text-align: center; /* Allinea il testo al centro */
  padding: 20px; /* Aggiunge un po' di spazio attorno al contenuto del footer */
}

/* Stili dei link nel footer */
footer a {
  color: white; /* Colore del testo dei link */
  text-decoration: none; /* Rimuove il sottolineato dal testo dei link */
}

/* Stili dei link al passaggio del mouse */
footer a:hover {
  color: #4CAF50; /* Cambia il colore del testo al passaggio del mouse */
}

/* Stile delle informazioni sul copyright */
footer p {
  margin: 0; /* Rimuove i margini predefiniti */
}

/* Stile dell'icona del copyright */
footer i {
  font-size: 14px; /* Imposta la dimensione del carattere dell'icona */
  margin-right: 5px; /* Aggiunge un po' di spazio a destra dell'icona */
}
  