body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.content {
    text-align: center;
    padding: 20px;
    margin: 8;
}

h2 {
    text-align: center;
}

/* Stili per table */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


/* Stili per form */
form {
    max-width: 800px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cerca {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"],
input[type="text"],
input[type="username"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0069d9;
}

@media (min-width: 768px) {
    input[type="email"],
    input[type="text"],
    input[type="username"],
    input[type="password"],
    textarea {
        width: 40%;
    }

    input[type="password"],
    textarea {
        width: 30%;
    }
}
