/* Stile generale del footer */
footer {
  background-color: #202731;
  color: white;
  text-align: center;
  padding: 20px;
  padding-top: 65px;
  font-family: 'Nunito Sans', sans-serif;
}

/* Stili dei link nel footer */
footer a {
  color: white;
  text-decoration: none;
}

/* Stili dei link al passaggio del mouse */
footer a:hover {
  color: #4CAF50;
}

/* ------------------- */

/* Togli i pallini dalle liste */
.footer-social-block ul,
.footer-link-block ul {
  list-style-type: none;
}

/* Flexbox per allineare gli elementi */
.footer-link-block ul,
.footer-social-block ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

/* Dimensione immagini dei social */
.footer-social-block img {
  width: 2.5em;
  height: auto;
}

/* Posizione Social */
.footer-social-block li {
  margin-bottom: 1.5em;
}

/* Posizione Links*/
.footer-link-block li {
  width: 100%;
  margin-bottom: 10px;
}

/* ------------------- */

/* Serve per il divisore */
section {
  position: relative;
}

.wave-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-div svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 51px;
}

.wave-div .shape-fill {
  fill: #FFFFFF;
}

/* ------------------- */
footer{
  position: sticky;
  top: 100%;
}

body {
  min-height: 100vh;
}