/* Stile generale del footer */
footer {
  background-color: #202731; 
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

/* Stili dei link nel footer */
footer a {
  color: white;
  text-decoration: none; 
}

/* Stili dei link al passaggio del mouse */
footer a:hover {
  color: #4CAF50;
}

/* ------------------- */

/* Togli i pallini dalle liste */
.footer-social-block ul,
.footer-link-block ul {
  list-style-type: none;
}

/* Flexbox per allineare gli elementi */
.footer-link-block ul,
.footer-social-block ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

/* Dimensione immagini dei social */
.footer-social-block img {  
  width: 2.5em;
  height: auto;
}

/* Posizione Links*/
.footer-link-block li {
  width: 100%;
  margin-bottom: 10px;
}

/* Posizione Social */
.footer-social-block li {
  width: 100%;
  margin-bottom: 1.5em;
}
