@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Stile generale del body */
body {
	margin: 0;
	padding: 0;
}

/* Stile del menu di navigazione */
nav {
	background-color: #f2f2f2;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Stile dei pulsanti a sinistra */
.pulsanti-sinistra {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pulsanti-sinistra li {
	display: inline-block;
	margin-right: 10px;
}

.pulsanti-sinistra li:last-child {
	margin-right: 0;
}

.pulsanti-sinistra li a {
	text-decoration: none;
	color: #333;
	padding: 5px;
	border-radius: 3px;
}

/* Stile del form di ricerca */
.cerca {
	display: flex;
	margin-left: 20px;
}



/* Stile dei pulsanti a destra */
.pulsanti-destra {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pulsanti-destra li {
	display: inline-block;
	margin-left: 10px;
}

.pulsanti-destra li:first-child {
	margin-left: 0;
}

.pulsanti-destra li a {
	text-decoration: none;
	color: #333;
	padding: 5px;
	border-radius: 3px;
}