@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
  margin: 0px;
}

/* Stile generale della navbar */
nav {
  background-color: #202731;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* Rimuove il punto dell'elenco e imposta il flex */
nav ul {
  display: flex;
  list-style-type:none;
  padding: 0;
}

.pulsanti-sinistra{
  padding-left: 20px;
}

.pulsanti-destra{
  padding-right: 20px;
}

/* Stili dei link nella navbar */
nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; 
  font-family: 'Nunito Sans', sans-serif;
}

/* Stili dei link al passaggio del mouse */
nav a:hover {
  background-color: #ddd; 
  color: black;
}

/* Stile del link attivo */
nav a.active {
  background-color: #4CAF50;
  color: white;
}